<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.harazh">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Harazh"
        tools:targetApi="31">
        <activity
            android:name=".tela_editar_manutencao"
            android:exported="false"
            android:label="Editar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".tela_gerenciar_servicos"
            android:exported="false"
            android:label="Lista de serviços">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".tela_manutencao"
            android:exported="false"
            android:label="Salvar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".tela_editar"
            android:exported="false"
            android:label="Editar" />
        <activity
            android:name=".tela_gerenciar"
            android:exported="false"
            android:label="Gerenciar" />
        <activity
            android:name=".tela_cadastro"
            android:exported="false"
            android:label="Cadastrar" />
        <activity
            android:name=".tela_inicial"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>